<div class="wrap alarm-playing" id="AlarmPLaying">
  <div class="page alarm">
    <div class="clock">
      {{time}}
      <small>{{date}}</small>
      <p class="label">
        {{label}}
      </p>
    </div>
    <div class="action">
      <a href="#" data-panel="left" class="button open-panel">Snooze</a>
      <a href="#" data-panel="left" class="button small">Stop</a>
    </div>
  </div>
</div>